.wrapper
  .side-contents
    .side-contents__header
      %p.side-contents__header__name
        = current_user.name
      .side-contents__header__manu
        .side-contents__header__manu__setting 
          =link_to new_group_path, class: "Contents__btn Contents__btn--facebook" do
            = fa_icon 'edit', class: "Contents__btn--icon"
        .side-contents__header__manu__setting2
          =link_to edit_user_path(current_user), class: "Contents__btn Contents__btn--facebook" do
            = fa_icon 'gear ', class: "Contents__btn--icon"
    .side-contents__main
      .side-contents__main__member
        - current_user.groups.each do |group|
          .group
            = link_to group_comments_path(group) do
              .group__name
                = group.name
              .group__message
                = group.show_last_message