.wrapper
  = render partial: "comments/side_bar"
  .contents-main{data: {'group-id': "#{@group.id}"}}
    .contents-main__header
      .contents-main__header__user
        .contents-main__header__user__comment 
          = @group.name
        .contents-main__header__user__name 
          - @group.users.each do |user|
            = user.name
      %div{"data-turbolinks" => "false"}
        = link_to edit_group_path(@group) do
          .contents-main__header__edit-btn Edit
    .contents-main__main
      .contents-box
        - @comments.each do |comment|
          .contents-box2{data: {'data-id': comment.id}} 
            .contents-main__main__font-box
              .contents-main__main__font-box__name 
                = comment.user.name
              .contents-main__main__font-box__message
                = comment.created_at.strftime("%Y-%m-%d %H:%M")
            .contents-main__main__font3
              %p.lower-message__content
                = comment.content
              = image_tag comment.image.url, class: 'lower-message__image' if comment.image.present?
    .contents-main__bottom
      = form_for [@group, @comment] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .contents-main__bottom__icon
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        .contents-main__bottom__send 
          = f.submit 'Send', class: 'form__submit'

